################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Front/Login.Front/Login.Oauth/appsettings.Development.json
/Front/Login.Front/Login.Oauth/appsettings.json
