html {
    font-size: 20px;    
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    
}


.formulario {
    background: #641A58;
}


label {
    color: white;
    margin: 20px;

}

input.form-control {
    background: #DBD4D4;   
    border-radius: 0;
    margin: 20px 20px;
}

.navbar {
    background: #641A58;
}

.li_navbar {
    list-style-type: none;
    margin: 20px;
    margin-right: 20px;
}

.opciones_navbar {
    text-decoration: none;
    color: white;
    font-family: Calibri;
    font-size: 22px;
    
}

.material-symbols-outlined {
    margin-right: 20px;
    color: white
}