@page
@model Login.Oauth.Areas.Socios.Pages.CrearModel

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<body class="style_body">
<h1 class="style_h1">Alta Socio</h1>
<hr />           
    <div class="row">
        <div class="col-6">
            <form method="post" class="formulario">

                <div class="container text-center">

                    <div class="row align-items-start">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="col">
                            <div>
                                <label asp-for="Socio.nombre" class="control-label">Nombre Completo:</label>
                            </div>
                            <div>
                                <label asp-for="Socio.numeroDocumento" class="control-label">Nro DNI:</label>
                            </div>
                            <div>
                                <label asp-for="Socio.mail" class="control-label">E-Mail:</label>
                            </div>
                        </div>

                        <div class="col">
                            <div>
                                <input asp-for="Socio.nombre" class="form-control" />
                                <span asp-validation-for="Socio.nombre" class="text-danger"></span>
                            </div>
                            <div>
                                <input asp-for="Socio.numeroDocumento" class="form-control" ; />
                                <span asp-validation-for="Socio.numeroDocumento" class="text-danger"></span>
                            </div>
                            <div>
                                <input asp-for="Socio.mail" class="form-control" ; />
                                <span asp-validation-for="Socio.mail" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col">
                            <div>
                                <div>
                                    <input type="submit" value="Aceptar" class="btn btn-primary" style="margin: 20px 20px;" />
                                </div>
                                <div>
                                    <input type="submit" value="Cancelar" class="btn btn-primary" style="margin: 20px 20px;" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
  
        

 
</body>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
